<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



<link rel="stylesheet" href="./static/styles.css">

</head>

<body>
<div>
    <ul>
        <li>HOME <img src="./static/images/home.png"width="70" height="70"></li>
        <li>ABOUTUS<img src="./static/images/treeline.png"></li>
        <li>PRODUCTS<img src="./static/images/treeline.png"></li>
        <li>PAYMENTS<img src="./static/images/treeline.png"></li>
        <li>GALLERY<img src="./static/images/treeline.png"></li>
        <li>fEEDBACK<img src="./static/images/treeline.png"></li>
        <li>ENQUIRY<img src="./static/images/treeline.png"></li>
    </ul>
</div>
</body>
</html>