
    ul{
        display:flex;
        text-decoration: none;
        border: 2px solid black;
        margin:0px 0px 0px 0px;
        background-color: rgb(255, 255, 255);

        
    }
    li{
        margin-right:176px;
        border: 2px solid black;
        list-style: none;
        height: 93px;
        width: 100px;
        text-align: center;
        font-size: x-large;
        color: black;
        
    }
    html, body {
        margin:0px;
        height:100%;
      }

    img{
        height: 5px;
        width: 7px;
    }
